In [1]:
import seaborn as sns
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [4]:
data

                                      numberOfPixels;numberOfThreads;kindOfAlgorithm;language;time
8960000 00;1  00;dubois;python;28                                                    16
              00;dubois;asm;0                                                       729
              00;photoshop;python;23                                                 39
              00;photoshop;asm;0                                                    512
        00;4  00;dubois;python;17                                                     4
...                                                                                 ...
560000  00;32 00;photoshop;asm;0                                                    198
        00;64 00;dubois;python;1                                                    242
              00;dubois;asm;0                                                       369
              00;photoshop;python;1                                                  58
              00;photoshop;asm;0                                                    393

[72 rows x 1 columns]